@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;

}
.background{
    background: linear-gradient(157.5deg, rgba(0, 0, 0, 0.5) 35.32%, rgba(0, 0, 0, 0.0001) 61.71%),
   url(../assets/photo-of-people-doing-handshakes-3183172.png);
    background-size: cover;
    background-position: center;
    //background: linear-gradient(157.5deg, rgba(0, 0, 0, 0.5) 35.32%, rgba(0, 0, 0, 0.0001) 61.71%)
}
.color1{
    color: #d9dae4;
}

.background-pink{
    background: linear-gradient(360deg, rgba(255, 255, 255, 0.0001) 0%, #FFF5F2 100%),url(../assets/Rectanglepink.png);
opacity: 0.9;
}
.backgroundpinkcurve{
    background: linear-gradient(360deg, rgba(255, 255, 255, 0.0001) 0%, #FFF5F2 100%),url(../assets/Rectane3.png);
//background: url(../assets/Rectanglepinkcurve\ .png);
background-size: cover;
    background-position:left;
    opacity: 0.9;
}
.backgroundblue{
    background: url(../assets/testimonialsbg1.png);
    background-size:cover ;
    background-position: center;
}
.responsive{
    display: flex !important;
    color: #f44916;
    padding: 1rem;
}

.content{
    display: none;

}
